mixin itemField(ob, label)
  md-autocomplete(
    ng-show="ctrl.mode !== 'wdqs'"
    md-selected-item=ob + "Object"
    md-search-text=ob + "Text"
    md-items="item in ctrl.itemSearch(" + ob + "Text)"
    md-item-text="item.label"
    md-min-length="1"
    md-menu-class="autocomplete-header-template"
    md-floating-label=label
  )
    md-item-template
      span.item-label {{item.label}}
      span.item-description {{item.description}}
    md-not-found
      | No results

mixin propertyField(ob, label)
  md-autocomplete(
    ng-show="ctrl.mode !== 'wdqs'"
    md-selected-item=ob + "Object"
    md-search-text=ob + "Text"
    md-items="item in ctrl.propertySearch(" + ob + "Text)"
    md-item-text="item.label"
    md-min-length="1"
    md-menu-class="autocomplete-header-template"
    md-floating-label=label
  )
    md-item-template
      span.item-label {{item.label}}
      span.item-description {{item.description}}
    md-not-found
      | No results
    
doctype html
html(ng-strict-di)
  head
    link(rel="stylesheet" href="assets/css/angular-material.min.css")
    link(rel="stylesheet" href="assets/css/main.css")
      
    script(src="assets/js/angular.min.js")
    script(src="assets/js/angular-animate.min.js")
    script(src="assets/js/angular-aria.min.js")
    script(src="assets/js/angular-messages.min.js")
    script(src="assets/js/angular-material.min.js")
    script(src="assets/js/d3.min.js")
    script(src="assets/js/all.min.js")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Wikidata Graph Builder
  body(ng-app="WgbApp" ng-cloak layout="row" flex ng-controller="FormCtrl as ctrl")
    md-sidenav(
      ng-style="{'min-width': wdqs_edit ? '100%' : '300px', 'max-width': wdqs_edit ? '100%' : '300px'}"
      class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="true"
    )
      md-toolbar(class="md-theme-indigo")
        h1(class="md-toolbar-tools") 
          a(href="?" ng-click="ctrl.reset()") WGB
      md-content(layout-padding flex)
        div(layout="row")
          md-input-container(flex)
            label Mode
            md-select(ng-model="ctrl.mode")
              md-option(ng-value="key" ng-repeat="(key, value) in ctrl.modes") {{ value }}
            
          md-input-container(flex ng-show="ctrl.mode !== 'wdqs'")
            label Language
            input(ng-model="ctrl.lang" type="text" placeholder="??" size="4")
    
        textarea(ng-model="ctrl.wdqs" ng-show="ctrl.mode === 'wdqs'" ng-focus="wdqs_edit = true" ng-blur="wdqs_edit = false") query
        
        +itemField("ctrl.item", "Root Item")
        +propertyField("ctrl.property", "Traversal Property")
        
        div(layout="row")
          md-input-container(flex ng-show="ctrl.mode !== 'wdqs'")
            label(for="iterations") Iterations
            input(ng-model="ctrl.iterations" type="number" value="0" min="0")
          
          md-input-container(flex ng-show="ctrl.mode !== 'wdqs'")
            label Limit
            input(ng-model="ctrl.limit" type="number" value="0" min="0" size="2")
              
        +propertyField("ctrl.size_property", "Size Property")
        
        //- md-checkbox(ng-model="ctrl.size_recursive") Recursive Size
        //- md-checkbox(ng-model="ctrl.size_log_scale") Log10 Size
        
        div(layout="row" style="margin: 9px 4px 9px 0")
          div(flex)
            md-button.md-primary.md-raised(
              style="margin-right: 4px"
              layout-fill
              ng-click="ctrl.submit()"
              ng-disabled="!ctrl.validate()"
            ) Build
            
          div(flex)
            md-menu
              md-button.md-raised(
                style="margin-left: 5px"
                layout-fill
                ng-disabled="!ctrl.validate()"
                ng-click="$mdOpenMenu($event)"
              ) Tools
              md-menu-content(width="4")
                md-menu-item
                  md-button(ng-click="ctrl.query()" ng-disabled="!ctrl.validate()") Wikidata Query Service
                md-menu-item
                  md-button(ng-click="ctrl.list()" ng-disabled="!(ctrl.validate() && (ctrl.mode == 'forward' || ctrl.mode == 'reverse'))") Wikidata generic tree

    div(layout="column" layout-fill)
      md-progress-linear(md-mode="query" ng-show="ctrl.isLoading")
        | 
      md-content(ng-hide="ctrl.showSvg && ctrl.wdqs" md-scroll-y layout-padding)
        div.main-content
          h1.md-display-2 Wikidata Graph Builder

          noscript
            | Wikidata Graph Builder requires JavaScript to be enabled

          p 
            | Build graphs using #[a(href="https://www.wikidata.org") Wikidata] #[a(href="https://query.wikidata.org/") Query Service] and
            |  
            | #[a(href="https://d3js.org/") d3.js]. 
          p Example graphs:
          
          -
            links = [
              ['Parent taxons of Blue Whale', '?property=P171&item=Q42196'],
              ['Class tree for human', '?property=P279&item=Q5'],
              ['Parents of Nikita Mikhalkov', '?property=P40&item=Q55207&mode=reverse'],
              ['Children of Agnes of the Palatinate (4 generations)', '?property=P40&item=Q4450926&iterations=4'],
              ['Types of numbers', '?property=P279&item=Q11563&mode=reverse'],
              ['Subclasses of physicists', '?property=P279&item=Q169470&lang=en&mode=reverse'],
              ['Subclasses and parent classes of period 2 elements', '?property=P279&item=Q207712&mode=both'],
              ['People, who were filmed with Jim Carrey', '?property=P161&item=Q40504&mode=undirected&iterations=2'],
              ['Connectivity of the USA states', '?mode=wdqs&wdqs=SELECT%20%3Fitem%20%3FitemLabel%20%3FlinkTo%20%7B%0A%20%20%3Fitem%20wdt:P31%20wd:Q35657%20.%0A%20%20OPTIONAL%20%7B%20%3FlinkTo%20wdt:P47%20%3Fitem%20;%20wdt:P31%20wd:Q35657%20%7D%20.%0A%0A%20%20SERVICE%20wikibase:label%20%7Bbd:serviceParam%20wikibase:language%20"en"%20%7D%0A%7D'],
              ['Usage of subclasses of actors', '?property=P279&item=Q33999&mode=reverse&size_property=P106']
            ]
          
          ul
            each link in links
              li #[a(href=link[1])=link[0]]
              
          p.footer The source code released under #[a(href="http://opensource.org/licenses/MIT") MIT license] at #[a(href="https://github.com/AngryLoki/wikidata-tree-builder") GitHub].

      graph(graph-data="ctrl.graphData" active-item="ctrl.activeItem" mode="ctrl.mode" size-log-scale="ctrl.size_log_scale")
